/* Container section */
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: calc(100vh - var(--header-height));
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--header-height);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 2s linear;
}

.content {
    width: 80%;
    position: absolute;
    top: 18%;
    left: 10%;
    right: 10%;
}

.content__title {
    font-size: 4.6rem;
    font-weight: 500;
}

.content__description {
    font-size: 1.6rem;
    padding: 16px 0 36px 0;
    margin: 0;
}

.content__button {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 16px 32px;
    margin-top: 6px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: var(--btn-background-color-color);
    box-shadow:  2px 2px 8px 2px var(--background-color);
    cursor: pointer;
}

.content__button:hover {
    background-color: var(--btn-hover-color);
    box-shadow: 2px 2px 28px 2px var(--btn-hover-shadow-color);
}

.slide-bar {
    z-index: 10;
    display: flex;
    position: absolute;
    bottom: calc(var(--header-height)/2);
    left: 50%;
    top: 70vh;
    transform: translate(-50%, 50%);
}

.slide-btn {
    width: 16px;
    height: 16px;
    background-color: var(--slide-btn-color);
    border-radius: 50%;
    margin: 12px;
    cursor: pointer;
}

.slide-btn:hover {
    background-color: var(--slide-btn-hover-color);
}